.container{
    height: auto;
}
.menu{
    display: flex;
   justify-content: center;

}


Card.Img .image{
     width: 100%;
     height: 300px;
    background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 

}